@page
@using HotelLibrary.Data;
@using HotelLibrary.Databases;
@using HotelLibrary.Models;
@model HotelApp.Web.Pages.RoomSearchModel

@{
    ViewData["Title"] = "Room Searching";
}

<form method="post">
    <div>
        <div>
                <label asp-for="@Model.StartDate"></label>
                <input asp-for="@Model.StartDate">
        </div>
        <div>
                <label asp-for="@Model.EndDate"></label>
                <input asp-for="@Model.EndDate">
        </div>
    </div>
    <button type="submit" class="btn btn-dark">Search Rooms</button>
</form>

@if (Model.AvailableRoomTypes?.Count > 0)
{
    <h2>Results:</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Room Type</th>
                <th>Price per night</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var type in Model.AvailableRoomTypes)
            {
                <tr>
                    <td><strong>@type.Title</strong><br />
                        @type.Description    
                    </td>
                    <td>@string.Format("{0:C}", type.Price)</td>
                    <td>
                        <a asp-page="/RoomBooking"
                        asp-route-RoomTypeId="@type.Id"
                   asp-route-StartDate="@Model.StartDate.ToString("yyyy-MM-dd")"
                   asp-route-EndDate="@Model.EndDate.ToString("yyyy-MM-dd")">
                            Book Now
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}