@page
@using HotelManagementLibrary.Data;
@using HotelManagementLibrary.Databases;
@using HotelManagementLibrary.Models;
@model HotelApp.Web.Pages.RoomSearchModel

@{
    ViewData["Title"] = "Room Searching";
}

<form method="post">
    <div>
        <input asp-for="@Model.StartDate"/>
        <input asp-for="@Model.EndDate"/>
    </div>
    <button type="submit" class="btn btn-dark">Search Rooms</button>
</form>

@if (Model.AvailableRoomTypes?.Count > 0)
{
    <h2>Results:</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Room Type</th>
                <th>Price</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var type in Model.AvailableRoomTypes)
            {
                <tr>
                    <td><strong>@type.Title</strong><br />
                        @type.Description    
                    </td>
                    <td>@string.Format("{0:C}", type.Price)</td>
                    <td>
                        <a href="">Book Now</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}